uebung3.pdf
a.out
.gitignore~
cg.c~
cg.cu~
Speedup-Test.ods
Protokoll_CP3_Kaplan-Dummer_UE3.aux
Protokoll_CP3_Kaplan-Dummer_UE3.log
Protokoll_CP3_Kaplan-Dummer_UE3.out
.~lock.Speedup-Test.ods#
CP3_UE3_Kaplan-Dummer.zip
